# Archivos de build
bin/
obj/

# Archivos de usuario
*.user
*.suo
*.db
*.log

# Configuración de Visual Studio
.vs/

.vs/ProjectEvaluation/evaluacion.metadata.v9.bin
.vs/Evaluacion/v17/DocumentLayout.backup.json
.vs/Evaluacion/v17/DocumentLayout.json
.vs/ProjectEvaluation/evaluacion.metadata.v9.bin
.vs/ProjectEvaluation/evaluacion.projects.v9.bin
.vs/ProjectEvaluation/evaluacion.strings.v9.bin
.vs/Evaluacion/v17/.suo
